<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= applicant.linkedin %>
  </p>

  <p>
    <strong>JobId:</strong>
    <%= applicant.jobid %>
  </p>

</div>
