<div id="<%= dom_id team_member %>">
  <p>
    <strong>Name:</strong>
    <%= team_member.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= team_member.title %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= team_member.picture %>
  </p>

  <p>
    <strong>ID:</strong>
    <%= team_member.id %>
  </p>

</div>
